@font-face {
    font-family: 'Norse';
    src: url(./norse/Norsebold.otf);
}

.container{
    display: flex;
    width: 100%;
    min-height: 100vh;
}
* {
    margin: 0px;
    padding: 0px;
    font-family: 'roboto';
}

h1{
    font-family: 'Norse';
    font-size: 100px;
    color: white;
    margin: 30px 0px;
}

#sidebar{
    background-image: url('https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    height: 100vh;
    width: 50%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo-section{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 50%;
    position: relative;
    top: 150px;
}

#logo-image{
    height: 140px;
    width: 100px;
}

.content{
    padding-left: 150px;
    padding-right: 250px;
}

p{
    font-weight: 600;
    font-size: 30px;
}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f5f4f5;
}

#intro{
    margin-bottom: 60px;
}

#intro p{
    margin-top: 30px;
}

#form-section{
    border: 2px solid #E5E7EB;
    background-color: white;
    box-shadow: 0px 5px 10px #d7d9dd;
}

#form-section p {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 35px;
}

#form-section .form-container{
    padding-top: 10px;
    padding-bottom: 40px;
    display: flex;
}

.form-input{
    width: 350px;
    height: 25px;
    padding: 10px;
    border-radius: 5px;
    font-size: 22px;
    border: 1px solid #E5E7EB;
}

.form-input:focus{
    box-shadow: 2px 5px 10px #d7d9dd;
    outline: none;
    border-color: blue;
}

#user-password:user-invalid{
    border-color: red;
}

#confirm-password:user-invalid{
    border-color: red;
}

#form-section .right{
    margin-left: 100px;
}

.form-element{
    padding-bottom: 30px;
}

.form-label{
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 500;
}

button{
    width: 300px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 2px 5px 10px #d7d9dd;
    border: 0px;
    background-color: #596D48;
    color: white;
    font-weight: 500;
    margin: 40px 0px;
}

#login-text{
    font-size: 22px;
}

#login-text a{
    color: #596D48;
    font-weight: 700;
    text-decoration: none;
}
