#gameboard {
  display: grid;
  grid-template-areas: "r0c0 r0c1 r0c2" "r1c0 r1c1 r1c2" "r2c0 r2c1 r2c2";
  grid-auto-rows: 200px;
  grid-auto-columns: 200px;
  justify-content: center;
  align-content: center;
  font-size: 10rem;
}

.grid-child {
  box-sizing: border-box;
  height: 200px;
  width: 200px;
  border: 2px solid black;
  text-align: center;
}

.grid-child:hover {
  background-color: lightgray;
}
